In [137]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import precision_score

In [138]:
rat = pd.read_csv('ratings.csv')
mov = pd.read_csv('movies.csv')

In [139]:
# Fix movies.csv column name to match ratings.csv
mov.rename(columns={'MovieId': 'movieId'}, inplace=True)

In [140]:
rat.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [141]:
mov.head()

   movieId  ReleaseYear                    MovieTitle
0        1       2003.0               Dinosaur Planet
1        2       2004.0    Isle of Man TT 2004 Review
2        3       1997.0                     Character
3        4       1994.0  Paula Abdul's Get Up & Dance
4        5       2004.0      The Rise and Fall of ECW

In [142]:
rat.shape

(100836, 4)

In [143]:
user_itm_matrix = rat.pivot(index='userId', columns='movieId', values='rating')
user_itm_matrix.fillna(0, inplace=True)
user_itm_matrix.shape
user_itm_matrix.head()

movieId  1       2       3       4       ...  193583  193585  193587  193609
userId                                   ...
1           4.0     0.0     4.0     0.0  ...     0.0     0.0     0.0     0.0
2           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
3           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
4           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
5           4.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[5 rows x 9724 columns]

In [144]:
usr_sim = cosine_similarity(user_itm_matrix)
usr_sim_df = pd.DataFrame(usr_sim, index=user_itm_matrix.index, columns=user_itm_matrix.index)
usr_sim_df.head()

userId       1         2         3    ...       608       609       610
userId                                ...
1       1.000000  0.027283  0.059720  ...  0.291097  0.093572  0.145321
2       0.027283  1.000000  0.000000  ...  0.046211  0.027565  0.102427
3       0.059720  0.000000  1.000000  ...  0.021128  0.000000  0.032119
4       0.194395  0.003726  0.002251  ...  0.149858  0.032198  0.107683
5       0.129080  0.016614  0.005020  ...  0.135535  0.261232  0.060792

[5 rows x 610 columns]

In [145]:
def recommend_movies(user_id, num_recommendations=5):
    sim_scores = usr_sim_df[user_id].drop(user_id)
    sim_users = sim_scores.sort_values(ascending=False).index

    weighted_ratings = pd.Series(dtype=float)
    for sim_user in sim_users[:10]:
        rat = user_itm_matrix.loc[sim_user]
        weighted_ratings = weighted_ratings.add(rat * sim_scores[sim_user], fill_value=0)

    user_rated = user_itm_matrix.loc[user_id]
    recommendations = weighted_ratings[user_rated == 0].sort_values(ascending=False)

    recommended_movies = recommendations.head(num_recommendations).index
    return mov[mov['movieId'].isin(recommended_movies)][['movieId', 'MovieTitle']]

print(recommend_movies(1, 5))

      movieId                                 MovieTitle
588       589                           Northanger Abbey
857       858  Sports Illustrated Swimsuit Edition: 2002
1199     1200                       Teaching Mrs. Tingle
1609     1610                                   Get Real
2761     2762             The Saddest Music in the World

In [146]:
print(mov.columns.tolist())
print(rat.columns.tolist())

['movieId', 'ReleaseYear', 'MovieTitle']
['userId', 'movieId', 'rating', 'timestamp']

In [147]:
def precision_at_k(user_id, k=5):
    # Recommended movies always come with 'movieId'
    recommended = recommend_movies(user_id, k)['movieId'].tolist()
    
    # Actual relevant = movies rated >= 4 by this user
    actual_relevant = rat[(rat['userId'] == user_id) & (rat['rating'] >= 4)]['movieId'].tolist()
    
    if len(recommended) == 0:
        return 0
    
    hits = len(set(recommended) & set(actual_relevant))
    return hits / k

print("Precision@5 for User 1:", precision_at_k(1, 5))

Precision@5 for User 1: 0.0

In [150]:
itm_sim = cosine_similarity(user_itm_matrix.T)
itm_sim_df = pd.DataFrame(itm_sim, index=user_itm_matrix.columns, columns=user_itm_matrix.columns)

def recommend_movies_item_based(user_id, num_recommendations=5):
    # Compute weighted similarity scores for all items
    scores = pd.Series(itm_sim_df.dot(user_itm_matrix.loc[user_id]), index=user_itm_matrix.columns)
    
    # Drop movies the user already rated
    rated_mov = user_itm_matrix.loc[user_id][user_itm_matrix.loc[user_id] > 0].index
    scores = scores.drop(rated_mov, errors='ignore')

    # Get top-N recommended movieIds
    recommended = scores.sort_values(ascending=False).head(num_recommendations).index
    
    # Return titles
    return mov[mov['movieId'].isin(recommended)][['movieId','MovieTitle']]

print(recommend_movies_item_based(1,5))

      movieId                                         MovieTitle
1035     1036                                 Coral Sea Dreaming
1199     1200                               Teaching Mrs. Tingle
1526     1527                                  Hawaiian Paradise
1967     1968  Caillou: Big Brother Caillou and Other Adventures
2917     2918                                           Momentum

In [151]:
from sklearn.decomposition import TruncatedSVD

svd = TruncatedSVD(n_components=20, random_state=42)
matrix_svd = svd.fit_transform(user_itm_matrix)

print(svd.explained_variance_ratio_.sum())

0.3920907006597306